<% if tweet.errors.any? %>
  <div id='error_explanation'>
    <h3>
      <%= pluralize(tweet.errors.count, 'error') %> prohibited
      this tweet from being saved:
    </h3>
    <ul>
      <% tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
