---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=Uruguay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0NF90TiHXxzNoyLnJLqlR9FBA", oauth_nonce="120df459b84a070704b1e13b7a4a6e19",
        oauth_signature="DIM7LR5maiMU17gzO6TWqWsqqXU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1495203338", oauth_token="844964437480103938-xO54mkj4PT06xTDqGgBTmBsYVPdbrEe",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 19 May 2017 14:15:38 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - a5eb9624012521293dd4ad431235366c
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '176'
      X-Rate-Limit-Reset:
      - '1495203496'
      X-Response-Time:
      - '376'
      X-Transaction:
      - 00d9cc44001390f1
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Fri May 19 14:15:22 +0000 2017","id":865571587491278848,"id_str":"865571587491278848","text":"Hoje
        sexta feira galera, Bora pro Caf\u00e9 Uruguay... #Bora #caf\u00e9uruguay
        #sexta-feira \ud83c\udf7b\u2615\ud83c\udf77\ud83c\udfb8\ud83c\udfa4\ud83d\udc4d
        https:\/\/t.co\/WN0zbypuwx","truncated":false,"entities":{"hashtags":[{"text":"Bora","indices":[50,55]},{"text":"caf\u00e9uruguay","indices":[56,68]},{"text":"sexta","indices":[69,75]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/WN0zbypuwx","expanded_url":"http:\/\/fb.me\/1nLpniMp7","display_url":"fb.me\/1nLpniMp7","indices":[89,112]}]},"metadata":{"iso_language_code":"pt","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/www.facebook.com\/twitter\" rel=\"nofollow\"\u003eFacebook\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1195048832,"id_str":"1195048832","name":"Maur\u00edcio
        Bosco ","screen_name":"_MauricioBosco","location":"","description":"Cantor,
        M\u00fasico e Compositor.","url":"http:\/\/t.co\/yuT6ungUVJ","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/yuT6ungUVJ","expanded_url":"http:\/\/instagram.com\/mauricioboscooficial","display_url":"instagram.com\/mauricioboscoo\u2026","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":39,"friends_count":0,"listed_count":0,"created_at":"Mon
        Feb 18 21:59:40 +0000 2013","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":469,"lang":"pt","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"131516","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/615888670902632448\/OXNNMPBh_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/615888670902632448\/OXNNMPBh_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1195048832\/1435673836","profile_link_color":"009999","profile_sidebar_border_color":"EEEEEE","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"pt"},{"created_at":"Fri
        May 19 14:15:15 +0000 2017","id":865571558575804416,"id_str":"865571558575804416","text":"RT
        @MagelaFuzatti: Para solicitar cursos y talleres Rob\u00f3tica Programaci\u00f3n
        Sensores @Plan_Ceibal https:\/\/t.co\/A4oIvQCXG8 @ANEP_Uruguay @ces_\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"MagelaFuzatti","name":"Magela
        Fuzatti","id":1006923524,"id_str":"1006923524","indices":[3,[...]
