<%= currently_at('Tweets') %>
<%= currently_at_left('Tweets', 'My Favorites') %>

<div class='col-lg-6 col-lg-offset-1'>

  <%= text_field_tag :favorite, nil, class: 'js-favorites-autocomplete' %>

  <div id='my_favorites_list'>
    <%= render partial: 'favorite', collection: @favorites %>
  </div>

</div>
