<div class='col-lg-2 text-center'>
  <div class='left-nav-fixed'>

    <h2> Actions </h2>

    <ul class='nav nav-pills nav-stacked'>
      <%= nav_tab 'Users', admin_users_path, current_sub_tab %>
      <%= nav_tab 'Tweets', admin_tweets_path, current_sub_tab %>
      <%= nav_tab 'Favorites', '#', current_sub_tab %>
    </ul>

  </div>
</div>
