---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=463440424141459456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0NF90TiHXxzNoyLnJLqlR9FBA", oauth_nonce="856c6687ba6c045273f5e505de8b8f22",
        oauth_signature="WZZSRTOnh7dMX50tBZwI6OPE%2FIM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1493409233", oauth_token="844964437480103938-xO54mkj4PT06xTDqGgBTmBsYVPdbrEe",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 28 Apr 2017 19:53:54 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 000b92b89f885009c0b7472a370c4509
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '175'
      X-Rate-Limit-Reset:
      - '1493409235'
      X-Response-Time:
      - '218'
      X-Transaction:
      - 001968620028e4af
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Fri Apr 28 17:21:11 +0000 2017","id":858008203744956416,"id_str":"858008203744956416","text":"RT
        @Interior: Sunsets don''t get much better than this one over @GrandTetonNPS.
        #nature #sunset http:\/\/t.co\/YuKy2rcjyU","truncated":false,"entities":{"hashtags":[{"text":"nature","indices":[79,86]},{"text":"sunset","indices":[87,94]}],"symbols":[],"user_mentions":[{"screen_name":"Interior","name":"US
        Dept of Interior","id":76348185,"id_str":"76348185","indices":[3,12]},{"screen_name":"GrandTetonNPS","name":"Grand
        Teton NP","id":44991932,"id_str":"44991932","indices":[63,77]}],"urls":[],"media":[{"id":463440423352950784,"id_str":"463440423352950784","indices":[95,117],"media_url":"http:\/\/pbs.twimg.com\/media\/Bm54nBCCYAACwBi.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Bm54nBCCYAACwBi.jpg","url":"http:\/\/t.co\/YuKy2rcjyU","display_url":"pic.twitter.com\/YuKy2rcjyU","expanded_url":"https:\/\/twitter.com\/Interior\/status\/463440424141459456\/photo\/1","type":"photo","sizes":{"large":{"w":960,"h":541,"resize":"fit"},"medium":{"w":600,"h":338,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":192,"resize":"fit"}},"source_status_id":463440424141459456,"source_status_id_str":"463440424141459456","source_user_id":76348185,"source_user_id_str":"76348185"}]},"extended_entities":{"media":[{"id":463440423352950784,"id_str":"463440423352950784","indices":[95,117],"media_url":"http:\/\/pbs.twimg.com\/media\/Bm54nBCCYAACwBi.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Bm54nBCCYAACwBi.jpg","url":"http:\/\/t.co\/YuKy2rcjyU","display_url":"pic.twitter.com\/YuKy2rcjyU","expanded_url":"https:\/\/twitter.com\/Interior\/status\/463440424141459456\/photo\/1","type":"photo","sizes":{"large":{"w":960,"h":541,"resize":"fit"},"medium":{"w":600,"h":338,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":192,"resize":"fit"}},"source_status_id":463440424141459456,"source_status_id_str":"463440424141459456","source_user_id":76348185,"source_user_id_str":"76348185"}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":839429600723742722,"id_str":"839429600723742722","name":"Julia
        Dyer","screen_name":"egormyagd","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":19,"friends_count":102,"listed_count":0,"created_at":"Wed
        Mar 08 10:56:27 +0000 2017","favourites_count":1130,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1264,"lang":"ru","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/840557503918276610\/GBCtNihD_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/840557503918276610\/GBCtNihD_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Mon
        May 05 22:09:42 +0000 2014","id":463440424141459456,"id_str":"463440424141459456","text":"Sunsets
        don''t get much better than this one over @GrandTetonNPS. #nature #sunset
        http:\/\/t.co\/YuKy2rcjyU","truncated":false,"entities":{"hashtags":[{"text":"nature","indices":[65,72]},{"text":"sunset","indices":[73,80]}],"symbols":[],"user_mentions":[{"screen_name":"GrandTetonNPS","name":"Grand
        Teton NP","id":44991932,"id_str":"44991932","indices":[49,63]}],"urls":[],"media":[{"id":463440423352950784,"id_str":"463440423352950784","indices":[81,103],"media_url":"http:\/\/pbs.twimg.com\/media\/Bm54nBCCYAACwBi.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Bm54nBC[...]
