---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=463440424141459456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0NF90TiHXxzNoyLnJLqlR9FBA", oauth_nonce="db643914489050b4197e62e8c8dcc00f",
        oauth_signature="Vnao49ZGKXU9XGEGUJMdEY5K2yg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1493733633", oauth_token="844964437480103938-xO54mkj4PT06xTDqGgBTmBsYVPdbrEe",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 02 May 2017 14:00:33 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - b67badfd7bddf148ed522d5c682cd2cf
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1493734533'
      X-Response-Time:
      - '246'
      X-Transaction:
      - 000cf5b300d0d2e9
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Tue May 02 12:41:28 +0000 2017","id":859387360953470976,"id_str":"859387360953470976","text":"RT
        @paulvigna: God''s country RT \"@Interior: Sunsets don''t get much better
        than this one over @GrandTetonNPS. #nature #sunset http:\/\/t.co\/Mt\u2026","truncated":false,"entities":{"hashtags":[{"text":"nature","indices":[109,116]},{"text":"sunset","indices":[117,124]}],"symbols":[],"user_mentions":[{"screen_name":"paulvigna","name":"Paul
        Vigna","id":22680719,"id_str":"22680719","indices":[3,13]},{"screen_name":"Interior","name":"US
        Dept of Interior","id":76348185,"id_str":"76348185","indices":[33,42]},{"screen_name":"GrandTetonNPS","name":"Grand
        Teton NP","id":44991932,"id_str":"44991932","indices":[93,107]}],"urls":[]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":858992716851679232,"id_str":"858992716851679232","name":"#\/\u0633\u0639\u064a\u062f
        \u0627\u0644\u0639\u064a\u0633\u0649#","screen_name":"DtJ18ExQ6iKND7s","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":90,"friends_count":204,"listed_count":0,"created_at":"Mon
        May 01 10:33:17 +0000 2017","favourites_count":1135,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":1208,"lang":"ar","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/859350528870010881\/iSyRzUZk_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/859350528870010881\/iSyRzUZk_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/858992716851679232\/1493703067","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Mon
        May 05 22:20:02 +0000 2014","id":463443024845234176,"id_str":"463443024845234176","text":"God''s
        country RT \"@Interior: Sunsets don''t get much better than this one over
        @GrandTetonNPS. #nature #sunset http:\/\/t.co\/Mt6YfuMUz9\u201d","truncated":false,"entities":{"hashtags":[{"text":"nature","indices":[94,101]},{"text":"sunset","indices":[102,109]}],"symbols":[],"user_mentions":[{"screen_name":"Interior","name":"US
        Dept of Interior","id":76348185,"id_str":"76348185","indices":[18,27]},{"screen_name":"GrandTetonNPS","name":"Grand
        Teton NP","id":44991932,"id_str":"44991932","indices":[78,92]}],"urls":[],"media":[{"id":463440423352950784,"id_str":"463440423352950784","indices":[110,132],"media_url":"http:\/\/pbs.twimg.com\/media\/Bm54nBCCYAACwBi.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Bm54nBCCYAACwBi.jpg","url":"http:\/\/t.co\/Mt6YfuMUz9","display_url":"pic.twitter.com\/Mt6YfuMUz9","expanded_url":"https:\/\/twitter.com\/Interior\/status\/463440424141459456\/photo\/1","type":"photo","sizes":{"large":{"w":960,"h":541,"resize":"fit"},"medium":{"w":600,"h":338,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":192,"resize":"fit"}},"source_status_id":463440424141459456,"source_status_id_str":"463440424141459456","source_user_id":76348185,"source_user_id_str":"76348185"}]},"extended_entities":{"media":[{"id":463440423352950784,"id_str":"463440423352950784","indices":[110,132],"media_url":"http:\/\/pbs.twimg.com\/media\/Bm54nBCCYAACwBi.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Bm54nBCCYAACwBi.jpg","url":"http:\/\/t.co\/Mt6YfuMUz9","display_url":"pic.twitter.com\/Mt6YfuMUz9","expanded_url":"https:\/\/twitter.com\/Interior\/status\/463440424141459456\/photo\/1","type":"photo","sizes":{"large":{"w":960,"h":541,"resize":"fit"},"medium":{"w":600,"h":338,"resize":"fit"},"thumb[...]
