development:
  secret_key_base: secret_token_key
  mail_username: username
  mail_password: ********
  consumer_key: twitter_consumer_key
  consumer_secret: twitter_consumer_secret
  access_token: twitter_access_token
  access_token_secret: twitter_access_token_secret

test:
  secret_key_base: secret_token_key
  mail_username: username
  mail_password: ********
  devise_secret_key: devise_secret_key
  consumer_key: twitter_consumer_key
  consumer_secret: twitter_consumer_secret
  access_token: twitter_access_token
  access_token_secret: twitter_access_token_secret

production:
  secret_key_base: secret_token_key
