development:
  secret_key_base: secret_token_key
  mail_username: username
  mail_password: ********

test:
  secret_key_base: secret_token_key
  mail_username: username
  mail_password: ********

production:
  secret_key_base: secret_token_key
