.fit-text {
  width: 60%;
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.fit-select {
  max-width: 10%;
}

.search-margin {
  margin-left: 15px;
  font-weight: normal;
}

.form-select {
  height: 25px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.non-sort-column {
  border: transparent;
  color: #428bca;
  background-color: transparent;
  padding: 0;
  font-weight: normal;
  box-shadow: none;
}

.sort-column {
  border: transparent;
  color: #428bca;
  background-color: transparent;
  padding: 0;
  font-weight: normal;
  box-shadow: none;
}

.sort-column, .sort-column:hover, .sort-column:focus, .sort-column:active {
  border-color: transparent;
  outline: 0;
}

.bold-font-weight {
  font-weight: bold;
}
