.twitter-typeahead {
  width: 100%;
  margin-top: 10px;
}

.js-favorites-autocomplete {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  border-radius: 10px;
  height: 30px;
}

input.tt-hint {
  color: grey;
}

span.tt-dropdown-menu {
  width: 100%;
}
