<div class='form-group'>
  <%= f.label :password %> <br />
  <%= f.password_field :password, autocomplete: 'off', class: 'form-group'%>
</div>
<div class='form-group'>
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-group' %>
</div>
