<% users.each do |user| %>
  <tr>
    <td><%= user.email %> </td>
    <td><%= user.admin ? 'Yes' : 'No' %> </td>
    <td class='text-center'>
      <%= link_to edit_admin_user_path(user) do %>
        <span class='glyphicon glyphicon-pencil' data-toggle='tooltip' data-placement='right' title='Edit User'></span>
      <% end %>
    </td>
    <td class='text-center'>
      <%= link_to admin_user_path(user), method: :delete, data: { confirm: 'Delete this user?' } do %>
        <span class='glyphicon glyphicon-remove' data-toggle='tooltip' data-placement='right' title='Delete User'></span>
      <% end %>
    </td>
  </tr>
<% end %>
