<%= currently_at('Admin') %>
<%= currently_at_left('Admin', 'Users') %>
<div class='col-lg-10'>
  <h1> Edit User </h1>
  <br />
  <%= render partial: 'form', locals: { user: @user } %>
  <%= link_to 'Reset User\'s Password', edit_admin_user_password_path(@user), class: 'btn btn-link' %>
</div>
