<h1>Users</h1>
<table class='table table-hover'>
  <tr>
    <th>Email</th>
    <th>Admin?</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %> </td>
      <td><%= user.admin ? 'Yes' : 'No' %> </td>
    </tr>
  <% end %>
</table>

<div>
  <%= link_to 'Create New User', new_admin_user_path, class: 'btn btn-primary' %>
</div>
