---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=463440424141459456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0NF90TiHXxzNoyLnJLqlR9FBA", oauth_nonce="e41ee4aa5fea18e594f779b81cb88779",
        oauth_signature="aTstrgSU%2B9EE%2BKh2PdbxzExYUng%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1495030476", oauth_token="844964437480103938-xO54mkj4PT06xTDqGgBTmBsYVPdbrEe",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 17 May 2017 14:14:37 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - b382325ce27da6d47c13bb11dce5557d
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '176'
      X-Rate-Limit-Reset:
      - '1495031059'
      X-Response-Time:
      - '310'
      X-Transaction:
      - 00a62b06008d581c
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Wed May 17 11:52:20 +0000 2017","id":864810813722423296,"id_str":"864810813722423296","text":"RT
        @Interior: Sunsets don''t get much better than this one over @GrandTetonNPS.
        #nature #sunset http:\/\/t.co\/YuKy2rcjyU","truncated":false,"entities":{"hashtags":[{"text":"nature","indices":[79,86]},{"text":"sunset","indices":[87,94]}],"symbols":[],"user_mentions":[{"screen_name":"Interior","name":"US
        Dept of Interior","id":76348185,"id_str":"76348185","indices":[3,12]},{"screen_name":"GrandTetonNPS","name":"Grand
        Teton NP","id":44991932,"id_str":"44991932","indices":[63,77]}],"urls":[],"media":[{"id":463440423352950784,"id_str":"463440423352950784","indices":[95,117],"media_url":"http:\/\/pbs.twimg.com\/media\/Bm54nBCCYAACwBi.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Bm54nBCCYAACwBi.jpg","url":"http:\/\/t.co\/YuKy2rcjyU","display_url":"pic.twitter.com\/YuKy2rcjyU","expanded_url":"https:\/\/twitter.com\/Interior\/status\/463440424141459456\/photo\/1","type":"photo","sizes":{"large":{"w":960,"h":541,"resize":"fit"},"medium":{"w":600,"h":338,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":192,"resize":"fit"}},"source_status_id":463440424141459456,"source_status_id_str":"463440424141459456","source_user_id":76348185,"source_user_id_str":"76348185"}]},"extended_entities":{"media":[{"id":463440423352950784,"id_str":"463440423352950784","indices":[95,117],"media_url":"http:\/\/pbs.twimg.com\/media\/Bm54nBCCYAACwBi.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Bm54nBCCYAACwBi.jpg","url":"http:\/\/t.co\/YuKy2rcjyU","display_url":"pic.twitter.com\/YuKy2rcjyU","expanded_url":"https:\/\/twitter.com\/Interior\/status\/463440424141459456\/photo\/1","type":"photo","sizes":{"large":{"w":960,"h":541,"resize":"fit"},"medium":{"w":600,"h":338,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":192,"resize":"fit"}},"source_status_id":463440424141459456,"source_status_id_str":"463440424141459456","source_user_id":76348185,"source_user_id_str":"76348185"}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eMobile Web (M2)\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2560803203,"id_str":"2560803203","name":"juan
        martinez casas","screen_name":"juanloza_1978","location":"Espa\u00f1a","description":"periodico","url":"https:\/\/t.co\/MtGB8LShHy","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/MtGB8LShHy","expanded_url":"https:\/\/twitter.com\/juanloza_1978\/status\/858038810650738688\/photo\/1","display_url":"pic.twitter.com\/MtGB8LShHy","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":8,"friends_count":35,"listed_count":0,"created_at":"Fri
        May 23 19:58:53 +0000 2014","favourites_count":8,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":171,"lang":"es","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/863841083075301376\/mpIyoPBN_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/863841083075301376\/mpIyoPBN_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2560803203\/1494790740","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Mon
        May 05 22:09:42 +0000 2014","id":463440424141459456,"id_str":"463440424141459456","text":"Sunsets
        don''t get much better than this one over @GrandTetonNPS. #nature #sunset
        http:\/\/t.co\/YuKy2rcjyU","truncated":false,"entities":{"hashtags":[{"text":"nature","indices":[65,72]},{"text":"sunset","indices":[73,80]}],"symbols":[],"user_mentions":[{"screen_name":"GrandTetonNPS","name":"Grand
        Teton NP","id":44991932,"id_str":"44991932","indices":[49,63]}],"urls":[],"media":[{"id":463440423352950784,"id_str":"463440423352950784","indices":[81,103],"media_url":"http:\/\/pbs.twimg.com\/media\/Bm54nBCCYAACwBi.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Bm54nBC[...]
