---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=Uruguay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0NF90TiHXxzNoyLnJLqlR9FBA", oauth_nonce="1b6662aa5833e573c33755534fe2373d",
        oauth_signature="MwdaEdUZ5N0PbraPiWmN2m%2Bq8fU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1491848918", oauth_token="844964437480103938-xO54mkj4PT06xTDqGgBTmBsYVPdbrEe",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 10 Apr 2017 18:28:39 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - f6740a3b3ff689e25ec4aa55862d2598
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1491849818'
      X-Response-Time:
      - '407'
      X-Transaction:
      - 00654b7e00553a48
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Mon Apr 10 18:28:21 +0000 2017","id":851502123913281540,"id_str":"851502123913281540","text":"Hace
        4 a\u00f1os se aprob\u00f3 en Uruguay la Ley de matrimonio igualitario \ud83c\uddfa\ud83c\uddfe\ud83c\udf08
        #LGBT @WipeHomophobia #ComunidadLGBT https:\/\/t.co\/feSVkYEzXd","truncated":false,"entities":{"hashtags":[{"text":"LGBT","indices":[70,75]},{"text":"ComunidadLGBT","indices":[92,106]}],"symbols":[],"user_mentions":[{"screen_name":"WipeHomophobia","name":"STOP-Homophobia.com","id":606412878,"id_str":"606412878","indices":[76,91]}],"urls":[],"media":[{"id":851502111259070466,"id_str":"851502111259070466","indices":[107,130],"media_url":"http:\/\/pbs.twimg.com\/media\/C9EkqKMXkAIlAKc.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/C9EkqKMXkAIlAKc.jpg","url":"https:\/\/t.co\/feSVkYEzXd","display_url":"pic.twitter.com\/feSVkYEzXd","expanded_url":"https:\/\/twitter.com\/HanselVEVO\/status\/851502123913281540\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":630,"h":340,"resize":"fit"},"medium":{"w":630,"h":340,"resize":"fit"},"small":{"w":630,"h":340,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":851502111259070466,"id_str":"851502111259070466","indices":[107,130],"media_url":"http:\/\/pbs.twimg.com\/media\/C9EkqKMXkAIlAKc.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/C9EkqKMXkAIlAKc.jpg","url":"https:\/\/t.co\/feSVkYEzXd","display_url":"pic.twitter.com\/feSVkYEzXd","expanded_url":"https:\/\/twitter.com\/HanselVEVO\/status\/851502123913281540\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":630,"h":340,"resize":"fit"},"medium":{"w":630,"h":340,"resize":"fit"},"small":{"w":630,"h":340,"resize":"fit"}}}]},"metadata":{"iso_language_code":"es","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":477864326,"id_str":"477864326","name":"HanselVEVO","screen_name":"HanselVEVO","location":"Mi
        Buenos Aires Querido","description":"Amar Re\u00edr Disfruta So\u00f1ar Vivir
        \/ @NiUnaMenos_ \/ https:\/\/t.co\/G5areJTsFY \/ defensor de #NiUnaMenos \/
        #Modelo \/ amable, amigable, cari\u00f1oso,  amoroso \/ Comunidad #LGBT","url":"https:\/\/t.co\/awpDIxd7yM","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/awpDIxd7yM","expanded_url":"http:\/\/instagram.com\/hanselvevo","display_url":"instagram.com\/hanselvevo","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/G5areJTsFY","expanded_url":"http:\/\/niunamenos.com.ar","display_url":"niunamenos.com.ar","indices":[48,71]}]}},"protected":false,"followers_count":1392,"friends_count":709,"listed_count":9,"created_at":"Sun
        Jan 29 17:07:02 +0000 2012","favourites_count":532,"utc_offset":-10800,"time_zone":"Brasilia","geo_enabled":true,"verified":false,"statuses_count":11855,"lang":"es","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FF6699","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000024844541\/1a10512b67f84fa3ac08efb39bfc290e.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000024844541\/1a10512b67f84fa3ac08efb39bfc290e.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/851204222318260225\/_kv5dkky_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/851204222318260225\/_kv5dkky_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/477864326\/1491591408","profile_link_color":"B40B43","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"C0DFEC","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"es"},{"created_at":"Mon
        Apr 10 18:28:14 +0000 2017","id":851502095580745729,"id_str":"851502095580745729","text":"@ExpansionMx
        Uruguay super X! No creo que haya quien se ofenda por eso. Que sigan ech\u00e1ndole
        ganitas.","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"ExpansionMx","name":"Expansi\u00f3n
        CNN","id":108740292,"id_str":"108740292","indices":[0,12]}],"urls":[]},"metadata":{"iso_language_code":"es"[...]
