---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=Uruguay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0NF90TiHXxzNoyLnJLqlR9FBA", oauth_nonce="8146baf96a36c896fe56df043b44099c",
        oauth_signature="1DiZXo3z2EJ3ohmE4jbdz6nxgUU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1491849652", oauth_token="844964437480103938-xO54mkj4PT06xTDqGgBTmBsYVPdbrEe",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 10 Apr 2017 18:40:53 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 4ff398cf1595eea9bfde292c671c8959
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '174'
      X-Rate-Limit-Reset:
      - '1491849818'
      X-Response-Time:
      - '475'
      X-Transaction:
      - 00e7a87600ef9d35
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Mon Apr 10 18:40:30 +0000 2017","id":851505184366882816,"id_str":"851505184366882816","text":"RT
        @RadioHisteriaOK: Suena ROMA BANGKOK en Radio Disney Uruguay \ud83d\udc4f\ud83e\udd18\ud83d\ude4c\u270c\ufe0f\ud83c\udf89
        Puesto n\u00b03 del Ranking Disney @laliespos @BABYKMUSIC https:\/\/t.co\/Sx\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"RadioHisteriaOK","name":"Radio
        Histeria","id":3428292459,"id_str":"3428292459","indices":[3,19]},{"screen_name":"laliespos","name":"Lali
        Esp\u00f3sito","id":214942749,"id_str":"214942749","indices":[101,111]},{"screen_name":"BABYKMUSIC","name":"BABY
        K","id":42076321,"id_str":"42076321","indices":[112,123]}],"urls":[]},"metadata":{"iso_language_code":"es","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":773884308952088577,"id_str":"773884308952088577","name":"Su
        Sonrisa\ud83d\udc51","screen_name":"tiinalujan01","location":"","description":"\ud83d\udc51\ud83d\udc9fAunque
        el mundo agonice por la       Soberbia, la Codicia y el Ego, siempre hay un
        Puente hacia donde reina el Amor, la     Verdad y la LUZ.\ud83d\udcab\ud83d\udc98","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":110,"friends_count":271,"listed_count":3,"created_at":"Thu
        Sep 08 14:02:52 +0000 2016","favourites_count":23875,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":18696,"lang":"es","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/849783685624811522\/rir4ThdS_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/849783685624811522\/rir4ThdS_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/773884308952088577\/1490532382","profile_link_color":"19CF86","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Mon
        Apr 10 17:28:24 +0000 2017","id":851487036502675457,"id_str":"851487036502675457","text":"Suena
        ROMA BANGKOK en Radio Disney Uruguay \ud83d\udc4f\ud83e\udd18\ud83d\ude4c\u270c\ufe0f\ud83c\udf89
        Puesto n\u00b03 del Ranking Disney @laliespos @BABYKMUSIC https:\/\/t.co\/SxF0BezOtW","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"laliespos","name":"Lali
        Esp\u00f3sito","id":214942749,"id_str":"214942749","indices":[80,90]},{"screen_name":"BABYKMUSIC","name":"BABY
        K","id":42076321,"id_str":"42076321","indices":[91,102]}],"urls":[],"media":[{"id":851487027312951301,"id_str":"851487027312951301","indices":[103,126],"media_url":"http:\/\/pbs.twimg.com\/media\/C9EW8KHXgAUZfwO.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/C9EW8KHXgAUZfwO.jpg","url":"https:\/\/t.co\/SxF0BezOtW","display_url":"pic.twitter.com\/SxF0BezOtW","expanded_url":"https:\/\/twitter.com\/RadioHisteriaOK\/status\/851487036502675457\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":675,"resize":"fit"},"small":{"w":680,"h":383,"resize":"fit"},"large":{"w":1200,"h":675,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":851487027312951301,"id_str":"851487027312951301","indices":[103,126],"media_url":"http:\/\/pbs.twimg.com\/media\/C9EW8KHXgAUZfwO.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/C9EW8KHXgAUZfwO.jpg","url":"https:\/\/t.co\/SxF0BezOtW","display_url":"pic.twitter.com\/SxF0BezOtW","expanded_url":"https:\/\/twitter.com\/RadioHisteriaOK\/status\/851487036502675457\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":675,"resize":"fi[...]
