---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=Uruguay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0NF90TiHXxzNoyLnJLqlR9FBA", oauth_nonce="605a5c53d4c9b07fd81a41d6fa7ae0de",
        oauth_signature="GE148bFcgCCFF5PeTXjw47upQjE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1492016609", oauth_token="844964437480103938-xO54mkj4PT06xTDqGgBTmBsYVPdbrEe",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 12 Apr 2017 17:03:31 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - e841a6105a159b1d966faa847f349eb3
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1492017510'
      X-Response-Time:
      - '491'
      X-Transaction:
      - 009fcade00d19410
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Wed Apr 12 17:03:15 +0000 2017","id":852205484123860993,"id_str":"852205484123860993","text":"RT
        @N1cFAM: #ITE fue TT en Argentina - Uruguay y ahora Venezuela, seguro voy
        a morir \ud83d\ude31","truncated":false,"entities":{"hashtags":[{"text":"ITE","indices":[12,16]}],"symbols":[],"user_mentions":[{"screen_name":"N1cFAM","name":"N","id":355195672,"id_str":"355195672","indices":[3,10]}],"urls":[]},"metadata":{"iso_language_code":"es","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":175965327,"id_str":"175965327","name":"AlbanysM\ud83d\udc95\u2728","screen_name":"EndlessloveNEL","location":"Venezuela
        ","description":"19. Preocupados por fingir\nOlvidamos que vivir,\nEs AMAR,
        Es SENTIR, Es FLUIR \ud83c\udfa4\ud83d\ude4f\n\ud83d\udc95AMOR ES PRESENTE
        @laliespos @nico_riera @chinasuarez \ud83d\udc95","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":679,"friends_count":2127,"listed_count":8,"created_at":"Sun
        Aug 08 04:19:06 +0000 2010","favourites_count":889,"utc_offset":-10800,"time_zone":"Buenos
        Aires","geo_enabled":true,"verified":false,"statuses_count":43228,"lang":"es","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"050000","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/588583482714030082\/ZX6Z7Zgr.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/588583482714030082\/ZX6Z7Zgr.jpg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/840795439658074113\/fr5lG4cE_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/840795439658074113\/fr5lG4cE_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/175965327\/1489296411","profile_link_color":"19CF86","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"EDCB0C","profile_text_color":"2D10E8","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Apr 12 17:00:16 +0000 2017","id":852204732437364736,"id_str":"852204732437364736","text":"#ITE
        fue TT en Argentina - Uruguay y ahora Venezuela, seguro voy a morir \ud83d\ude31","truncated":false,"entities":{"hashtags":[{"text":"ITE","indices":[0,4]}],"symbols":[],"user_mentions":[],"urls":[]},"metadata":{"iso_language_code":"es","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":355195672,"id_str":"355195672","name":"N","screen_name":"N1cFAM","location":"","description":"Ex
        @FamiliaLaliter.","url":"https:\/\/t.co\/3r2cO7IxEc","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/3r2cO7IxEc","expanded_url":"https:\/\/www.wattpad.com\/NicFAM","display_url":"wattpad.com\/NicFAM","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":14452,"friends_count":151,"listed_count":34,"created_at":"Mon
        Aug 15 00:17:14 +0000 2011","favourites_count":3956,"utc_offset":-10800,"time_zone":"Santiago","geo_enabled":true,"verified":false,"statuses_count":134606,"lang":"es","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000005517124\/a645456455f2d66977fd7cb7037357c9.gif","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000005517124\/a645456455f2d66977fd7cb7037357c9.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/851991227792752641\/9LB4jTKx_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/851991227792752641\/9LB4jTKx_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/355195672\/1480299637","profile_link_color":"981CEB","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"252429","profile_text_color":"666666","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":4,"favorite_count":1,"favorited":false,"retweeted":false,"lang":"es"},"is_quote_status":false,"retweet_count":4,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"es"},{"created_at":"Wed
        Apr 12 17:03:13 +0000 2017","id":852205475978457088,"id_str":"852205475978457088","text":"RT
        @N1cFAM: #ITE fue TT en Argentina - Uruguay y ahora Venezuela, seguro voy
        a morir \ud83d\ude31","truncated":false,"entities":{"hashtags":[{"text":"ITE","indices":[12,16]}],"symbols":[],"user_mentions":[{"screen_name":"N1cFAM","name":"N[...]
[...]
