---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=Uruguay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0NF90TiHXxzNoyLnJLqlR9FBA", oauth_nonce="1556f05c80ca6a630f8e59a3800bf9b3",
        oauth_signature="cAp76wOh%2Fpwf93MMdQN4QNj1gVU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1493736099", oauth_token="844964437480103938-xO54mkj4PT06xTDqGgBTmBsYVPdbrEe",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 02 May 2017 14:41:40 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 48eec55d60e5f595a52d55e99a50b821
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1493736720'
      X-Response-Time:
      - '543'
      X-Transaction:
      - 00cd5e33007f5695
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Tue May 02 14:41:19 +0000 2017","id":859417522596175875,"id_str":"859417522596175875","text":"@PabloAnzalone
        @SaldiasAriel @PuenteCelsa @ces_Uruguay @GerpeGraciela No se aportan indicadores
        , al no tener  misi\u2026 https:\/\/t.co\/2JG8lDNYUv","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"PabloAnzalone","name":"pablo
        anzalone","id":295743281,"id_str":"295743281","indices":[0,14]},{"screen_name":"SaldiasAriel","name":"Ariel
        Sald\u00edas","id":3291288422,"id_str":"3291288422","indices":[15,28]},{"screen_name":"PuenteCelsa","name":"Celsa
        Puente","id":350236005,"id_str":"350236005","indices":[29,41]},{"screen_name":"ces_Uruguay","name":"ces","id":3327476897,"id_str":"3327476897","indices":[42,54]},{"screen_name":"GerpeGraciela","name":"Graciela
        Gerpe","id":3517743977,"id_str":"3517743977","indices":[55,69]}],"urls":[{"url":"https:\/\/t.co\/2JG8lDNYUv","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/859417522596175875","display_url":"twitter.com\/i\/web\/status\/8\u2026","indices":[117,140]}]},"metadata":{"iso_language_code":"es","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":859416210638872576,"in_reply_to_status_id_str":"859416210638872576","in_reply_to_user_id":295743281,"in_reply_to_user_id_str":"295743281","in_reply_to_screen_name":"PabloAnzalone","user":{"id":220277203,"id_str":"220277203","name":"Marcelo  Avellanal
        L","screen_name":"parreshia","location":"Sud America","description":"Medicina
        Educaci\u00f3n  Acci\u00f3n Afirmativa","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1546,"friends_count":5002,"listed_count":102,"created_at":"Sat
        Nov 27 08:48:44 +0000 2010","favourites_count":17883,"utc_offset":-10800,"time_zone":"Buenos
        Aires","geo_enabled":true,"verified":false,"statuses_count":34795,"lang":"es","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/484514685387935745\/J4uNuKpd.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/484514685387935745\/J4uNuKpd.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/807658771170398208\/yRaY6Obn_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/807658771170398208\/yRaY6Obn_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/220277203\/1404352384","profile_link_color":"1B95E0","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"es"},{"created_at":"Tue
        May 02 14:41:18 +0000 2017","id":859417518716465152,"id_str":"859417518716465152","text":"RT
        @UyCNCO: En Uruguay est\u00e1 lleno d cubanos y yo no entiendo q hace Erick
        q no se viene a vivir ac\u00e1 ahre #PREMIOSMTVWIAW #MTVACTAPPCNCO #MT\u2026","truncated":false,"entities":{"hashtags":[{"text":"PREMIOSMTVWIAW","indices":[105,120]},{"text":"MTVACTAPPCNCO","indices":[121,135]}],"symbols":[],"user_mentions":[{"screen_name":"UyCNCO","na[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=parreshia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0NF90TiHXxzNoyLnJLqlR9FBA", oauth_nonce="4125cd0d1221ec5046cecb808a52f118",
        oauth_signature="e7n7nPw9zVLG205JwVmbAIypbyo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1493736101", oauth_token="844964437480103938-xO54mkj4PT06xTDqGgBTmBsYVPdbrEe",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 02 May 2017 14:41:41 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 919ed0df043be3d780d9e4603822991a
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1493737001'
      X-Response-Time:
      - '212'
      X-Transaction:
      - 00d527080033a7c5
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":220277203,"id_str":"220277203","name":"Marcelo  Avellanal L","screen_name":"parreshia","location":"Sud
        America","profile_location":null,"description":"Medicina Educaci\u00f3n  Acci\u00f3n
        Afirmativa","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1546,"friends_count":5002,"listed_count":102,"created_at":"Sat
        Nov 27 08:48:44 +0000 2010","favourites_count":17883,"utc_offset":-10800,"time_zone":"Buenos
        Aires","geo_enabled":true,"verified":false,"statuses_count":34795,"lang":"es","status":{"created_at":"Tue
        May 02 14:41:19 +0000 2017","id":859417522596175875[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=parreshia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0NF90TiHXxzNoyLnJLqlR9FBA", oauth_nonce="0d86878052d9567e3426ea54d9b593fe",
        oauth_signature="xwPuDOrGJpSzjncL7YRWbtWJJFs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1493736101", oauth_token="844964437480103938-xO54mkj4PT06xTDqGgBTmBsYVP[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&screen_name=parreshia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0NF90TiHXxzNoyLnJLqlR9FBA", oauth_nonce="0cf7eb8e2c9641ab300b171b98605757",
        oauth_signature="mMzN9hqvZjZCaHkJFIf6h9BJ5WQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1493736102", oauth_token="844964437480103938-xO54mkj4PT06xTDqGgBTmBsYVPdbrEe",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 02 May 2017 14:41:42 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 27e914fb9c9c9e66aef4a985f4a1d55f
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1493737002'
      X-Response-Time:
      - '571'
      X-Transaction:
      - 001850f5000279d5
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":83014184,"id_str":"83014184","name":"Ron Madeira","screen_name":"ronmadeira","location":"Jersey
        City, NJ","description":"Changing the world one graphic design at a time --
        UBC alum, native of Portugal, making my way in the east coast US","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":12704,"friends_count":2888,"listed_count":153,"created_at":"Sat
        Oct 17 00:32:44 +0000 2009","favourites_count":32,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":17651,"lang":"en","status":{"created_at":"Fri
        Apr 28 15:41:53 +0000 2017","id":857983214282973184,"id_str":"857983214282973184","text":"RT
        @UN: Friday is World Day for Safety &amp; Health at Work. #SafeDay info: https:\/\/t.co\/zMhCBPQUT0
        https:\/\/t.co\/5rJv4bkFsR","truncated":false,"entities":{"hashtags":[{"text":"SafeDay","indices":[61,69]}],"symbols":[],"user_mentions":[{"screen_name":"UN","name":"United
        Nations","id":14159148,"id_str":"14159148","indices":[3,6]}],"urls":[{"url":"https:\/\/t.co\/zMhCBPQUT0","expanded_url":"http:\/\/bit.ly\/ikcbEk","display_url":"bit.ly\/ikcbEk","indices":[76,99]}],"media":[{"id":857711538399887361,"id_str":"857711538399887361","indices":[100,123],"media_url":"http:\/\/pbs.twimg.com\/media\/C-c0GY4UQAEkUJR.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/C-c0GY4UQAEkUJR.jpg","url":"https:\/\/t.co\/5rJv4bkFsR","display_url":"pic.twitter.com\/5rJv4bkFsR","expanded_url":"https:\/\/twitter.com\/UN\/status\/857717247074328576\/photo\/1","type":"photo","sizes":{"small":{"w":675,"h":680,"resize":"fit"},"large":{"w":827,"h":833,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":827,"h":833,"resize":"fit"}},"source_status_id":857717247074328576,"source_status_id_str":"857717247074328576","source_user_id":14159148,"source_user_id_str":"14159148"}]},"extended_entities":{"media":[{"id":857711538399887361,"id_str":"857711538399887361","indices":[100,123],"media_url":"http:\/\/pbs.twimg.com\/media\/C-c0GY4UQAEkUJR.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/C-c0GY4UQAEkUJR.jpg","url":"https:\/\/t.co\/5rJv4bkFsR","display_url":"pic.twitter.com\/5rJv4bkFsR","expanded_url":"https:\/\/twitter.com\/UN\/status\/857717247074328576\/photo\/1","type":"photo","sizes":{"small":{"w":675,"h":680,"resize":"fit"},"large":{"w":827,"h":833,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":827,"h":833,"resize":"fit"}},"source_status_id":857717247074328576,"source_status_id_str":"857717247074328576","source_user_id":14159148,"source_user_id_str":"14159148"}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Apr 27 22:05:01 +0000 2017","id":857717247074328576,"id_str":"857717247074328576","text":"Friday
        is World Day for Safety &amp; Health at Work. #SafeDay info: https:\/\/t.co\/zMhCBPQUT0
        https:\/\/t.co\/5rJv4bkFsR","truncated":false,"entities":{"hashtags":[{"text":"SafeDay","indices":[53,61]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/zMhCBPQUT0","expanded_url":"http:\/\/bit.ly\/ikcbEk","display_url":"bit.ly\/ikcbEk","indices":[68,91[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?cursor=-1&screen_name=parreshia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0NF90TiHXxzNoyLnJLqlR9FBA", oauth_nonce="50be91f5e1d0b08a6bffed8512eb23cf",
        oauth_signature="OslJW6IurmL5VQQdN7PMNhGqA3o%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1493736103", oauth_token="844964437480103938-xO54mkj4PT06xTDqGgBTmBsYVP[...]
